#margintop {
       margin-top:0px; 
    }
    
    #margintop2 {
       margin-left:450px; 
       margin-top:-40px; 
    }
    
    
#marginleft {
    margin-left:242px;
    }
    
    #botonleft {
    margin-left:675px;
    margin-top: -30px;
    }